/* IMPORT
---------------------------------------------------------------------------------------------------- */
@import "/css/vendor/reset.css" all;
@import "/css/vendor/jquery.jscrollpane.css" all;

@import "/css/layers/base/debug.css" all;
@import "/css/layers/base/layout.css" all;
@import "/css/layers/base/styles.css" all;
@import "/css/layers/base/oxygen-forms.css" all;

@import "/css/layers/styles/styles.css" all;
@import "/css/layers/styles/content.css" all;

@import "/css/layers/project/project.css" all;

/* RESPONSIVE
---------------------------------------------------------------------------------------------------- */
@import url(/css/media/phone.css) all and (max-width: 640px);
@import url(/css/media/tablet.css) all and (min-width: 641px) and (max-width: 940px);

/* FONTS
---------------------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'lightregular';
  src: url('/fonts/light-regular-webfont.eot');
  src: url('/fonts/light-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/light-regular-webfont.woff') format('woff'),
       url('/fonts/light-regular-webfont.ttf') format('truetype'),
       url('/fonts/light-regular-webfont.svg#lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}