<header id="header" class="header" role="banner">
  <div class="ctn">
    <div class="cols-3 mod">
      <a href="/"><img src="/img/logo.png" class="header_logo" width="235" height="50"></a>
    </div><div class="cols-9 mod tx __right">
      <nav class="header_nav" style="display: none;">
        <a href="#" class="header_nav_a" id="index" style="display: none;">Главная <img src="/img/glow.png" alt="" class="header_nav_a_img"></a>
        <a href="#" class="header_nav_a" id="about">О компании <img src="/img/glow.png" alt="" class="header_nav_a_img"></a>
        <a href="#" class="header_nav_a" id="services">Услуги <img src="/img/glow.png" alt="" class="header_nav_a_img"></a>
        <a href="#" class="header_nav_a" id="private">Жилые дома <img src="/img/glow.png" alt="" class="header_nav_a_img"></a>
        <a href="#" class="header_nav_a" id="commercial">Коммерческие объекты <img src="/img/glow.png" alt="" class="header_nav_a_img"></a>
        <a href="#" class="header_nav_a" id="yacht">Яхты <img src="/img/glow.png" alt="" class="header_nav_a_img"></a>
        <a href="#" class="header_nav_a" id="contacts">Контакты <img src="/img/glow.png" alt="" class="header_nav_a_img"></a>
      </nav>
    </div>
  </div>
</header>