<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="author" href="humans.txt">
<link rel="icon" href="favicon.ico">
<link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
<link rel="stylesheet" href="/css/application.css">
<script src="/js/vendor/yepnope.1.5.4-min.js"></script>
<script src="/js/vendor/modernizr-latest.js"></script>
<script src="/js/vendor/jquery-2.0.0.min.js"></script>
<script src="/js/vendor/jquery-ui.min.js"></script>
<script src="/js/vendor/underscore-min.js"></script>
<script src="/js/vendor/backbone-min.js"></script>
<script src="/js/vendor/smartresize.js"></script>
<script src="/js/vendor/jquery.cycle2.min.js"></script>
<script src="/js/vendor/jquery.mousewheel.js"></script>
<script src="/js/vendor/jquery.jscrollpane.min.js"></script>
<script src="/js/vendor/jquery.queryloader2.js"></script>
<script src="/js/jquery.extensions.js"></script>
<script src="/js/oxygen-forms.js"></script>
<script src="/js/application.js"></script>
<script src="/js/photogallery.js"></script>
<script src="/js/project.js"></script>