<aside class="cols-6 offset-6 mod page_sidebar __photogallery">
  <header class="page_sidebar_h">
    <a href="#" class="form_button photogallery-close" rel="lightbox-about">Закрыть</a>
  </header>
  <section class="page_sidebar_cnt">
    <div class="photogallery">
      <div class="photogallery_viewport"><a href="#"><img src="/img/fake/image-1.jpg" alt="" width="395" height="300" class="photogallery_viewport_img"></a></div>
      <div class="photogallery_th">
        <div class="photogallery_th_scroller">
          <div class="photogallery_th_scroller_ctn">
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/fake/image-1.jpg"><img src="/img/fake/image-1.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-2.jpg"><img src="/img/fake/image-2.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-3.jpg"><img src="/img/fake/image-3.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-4.jpg"><img src="/img/fake/image-4.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-5.jpg"><img src="/img/fake/image-5.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-1.jpg"><img src="/img/fake/image-1.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-2.jpg"><img src="/img/fake/image-2.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-3.jpg"><img src="/img/fake/image-3.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-4.jpg"><img src="/img/fake/image-4.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a" rel="/img/fake/image-5.jpg"><img src="/img/fake/image-5.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
          </div>
        </div>
      </div>
  </section>
</aside>