<aside class="cols-6 offset-6 mod page_sidebar __photogallery">
  <header class="page_sidebar_h">
    <a href="#" class="form_button photogallery-close" rel="lightbox-about">Закрыть</a>
  </header>
  <section class="page_sidebar_cnt">
    <div class="photogallery">
      <div class="photogallery_viewport"><a href="#"><img src="/img/photo/commercial/comm001.jpg" alt="" width="395" height="300" class="photogallery_viewport_img"></a></div>
      <div class="photogallery_th">
        <div class="photogallery_th_scroller">
          <div class="photogallery_th_scroller_ctn">
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm001.jpg"><img src="/img/photo/commercial/comm001.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm002.jpg"><img src="/img/photo/commercial/comm002.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm003.jpg"><img src="/img/photo/commercial/comm003.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm004.jpg"><img src="/img/photo/commercial/comm004.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm005.jpg"><img src="/img/photo/commercial/comm005.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm006.jpg"><img src="/img/photo/commercial/comm006.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm007.jpg"><img src="/img/photo/commercial/comm007.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm008.jpg"><img src="/img/photo/commercial/comm008.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm009.jpg"><img src="/img/photo/commercial/comm009.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm010.jpg"><img src="/img/photo/commercial/comm010.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm011.jpg"><img src="/img/photo/commercial/comm011.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm012.jpg"><img src="/img/photo/commercial/comm012.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm013.jpg"><img src="/img/photo/commercial/comm013.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm014.jpg"><img src="/img/photo/commercial/comm014.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/commercial/comm015.jpg"><img src="/img/photo/commercial/comm015.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
          </div>
        </div>
      </div>
  </section>
</aside>