<aside class="cols-6 offset-6 mod page_sidebar __photogallery">
  <header class="page_sidebar_h">
    <a href="#" class="form_button photogallery-close" rel="lightbox-about">Закрыть</a>
  </header>
  <section class="page_sidebar_cnt">
    <div class="photogallery">
      <div class="photogallery_viewport"><a href="#"><img src="/img/photo/yacht/yach001.jpg" alt="" width="395" height="300" class="photogallery_viewport_img"></a></div>
      <div class="photogallery_th">
        <div class="photogallery_th_scroller">
          <div class="photogallery_th_scroller_ctn">
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach001.jpg"><img src="/img/photo/yacht/yach001.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach002.jpg"><img src="/img/photo/yacht/yach002.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach003.jpg"><img src="/img/photo/yacht/yach003.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach004.jpg"><img src="/img/photo/yacht/yach004.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach005.jpg"><img src="/img/photo/yacht/yach005.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach006.jpg"><img src="/img/photo/yacht/yach006.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach007.jpg"><img src="/img/photo/yacht/yach007.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach008.jpg"><img src="/img/photo/yacht/yach008.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach009.jpg"><img src="/img/photo/yacht/yach009.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach010.jpg"><img src="/img/photo/yacht/yach010.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach011.jpg"><img src="/img/photo/yacht/yach011.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach012.jpg"><img src="/img/photo/yacht/yach012.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach013.jpg"><img src="/img/photo/yacht/yach013.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
            <div class="photogallery_th_i"><a href="#" class="photogallery_th_i_a __current" rel="/img/photo/yacht/yach014.jpg"><img src="/img/photo/yacht/yach014.jpg" alt="" width="75" height="75" class="photogallery_th_i_img"></a></div>
          </div>
        </div>
      </div>
  </section>
</aside>