<section class="page __about" data-cycle-hash="about">
  <div class="ctn">
    <aside class="cols-6 offset-6 mod page_sidebar __content">
      <header class="page_sidebar_h">
        <h1 class="page_sidebar_h_t">О компании</h1>
        <p class="page_sidebar_h_tx">Автоматизация и интеграция<br>инженерных систем</p>
      </header>
      <section class="page_sidebar_cnt">
        <div class="scroll-pane" style="height: 277px;">
          <div class="cnt">
            <p>Компания United Engineers занимается автоматизацией и&nbsp;интеграцией инженерных систем. Другими словами, если архитектор делает ваш дом красивым, мы&nbsp;делаем его по-настоящему удобным и&nbsp;комфортным.</p>
            <p>Всегда стремясь к&nbsp;наиболее эффективному и&nbsp;эффектному решению поставленной задачи, мы&nbsp;сотрудничаем с&nbsp;широким кругом производителей оборудования, имеем богатый опыт в&nbsp;применении самого разнообразного оборудования и&nbsp;технологий. Мы&nbsp;поддерживаем деловые отношения с&nbsp;проектными, инженерными и&nbsp;строительными компаниями. Благодаря этому мы&nbsp;способны обеспечить выполнение самых нестандартных проектов, включая задачи по&nbsp;организации сбалансированной совместной работы нескольких инженерных систем. Мы&nbsp;привлекаем к&nbsp;работе дизайнеров и&nbsp;представителей искусства и&nbsp;можем с&nbsp;уверенностью утверждать, что мы&nbsp;создаем не&nbsp;только надежные и&nbsp;функциональные, но&nbsp;и&nbsp;элегантные решения.</p>
            <p>Наша компания&nbsp;&mdash; команда высококлассных специалистов, опыт и&nbsp;знания которых растут с&nbsp;каждым днем на&nbsp;протяжении почти 15&nbsp;лет. Мы&nbsp;внимательно следим за&nbsp;технологическими новинками, предлагая все самое лучшее, актуальное и&nbsp;перспективное. Мы&nbsp;строим свой бизнес на&nbsp;честности и&nbsp;открытости. Основа наших отношений с&nbsp;клиентом, индивидуальный подход, ведь именно он&nbsp;отличает просто хорошую компанию от&nbsp;исключительной.</p>
          </div>
        </div>
      </section>
      <footer class="page_sidebar_f">
        <a href="#" class="form_button photogallery-open" rel="lightbox-about">галерея</a>
      </footer>
    </aside>
    <!--#include virtual="/views/common/_photogallery.html" -->
  </div>
</section>