<section class="page __about" data-cycle-hash="commercial">
  <div class="ctn">
    <aside class="cols-6 offset-6 mod page_sidebar __content">
      <header class="page_sidebar_h">
        <h1 class="page_sidebar_h_t">Коммерческие объекты</h1>
      </header>
      <section class="page_sidebar_cnt">
        <div class="scroll-pane" style="height: 329px;">
          <div class="cnt">
            <p>Компания United Engineers предлагает широкий спектр инновационных решений для освещения, создания кабельных сетей и&nbsp;IT-инфраструктуры, трансляции аудио и&nbsp;видео. Наши решения предназначены для различных отраслей бизнеса и&nbsp;учитывают их&nbsp;особые требования.</p>
            <p>United Engineers специализируется на&nbsp;разработке проектов, обеспечивающих высокую энергоэффективность и&nbsp;дизайн, оптимально вписывающийся в&nbsp;интерьеры коммерческого объекта. Наши услуги превосходно подходят для фешенебельных отелей, эксклюзивных ресторанов, клиентских офисных пространств. Иными словами, для бизнеса, в&nbsp;котором создание крепких деловых отношений не&nbsp;менее важно, чем создание надежных и&nbsp;функциональных инженерных систем. Богатый опыт и&nbsp;высокий профессионализм наших специалистов позволяют выполнить любые ваши требования.</p>
            <p>После сдачи объекта мы&nbsp;обеспечиваем его гарантийное обслуживание. При наличии технических возможностей, мы&nbsp;интегрируем в&nbsp;систему модуль удаленного доступа, что позволяет осуществлять техническую поддержку в&nbsp;режиме онлайн.</p>
            <p>Одна из&nbsp;немногих, компания United Engineers способна разрабатывать уникальные коммерческие проекты, требования к&nbsp;дизайну в&nbsp;которых крайне высоки. Мы&nbsp;поддерживаем знакомства с&nbsp;известными представителями искусства и&nbsp;дизайна, что позволяет привнести нечто особое в&nbsp;знаковый проект или ответственное мероприятие.</p>
            <p>Если ваш бизнес конкурирует с&nbsp;личной жизнью, оптимальным решением может стать комбинированный проект, внедряющий коммерческую функциональность в&nbsp;систему вашей резиденции. Получая возможность управлять рабочим процессом из&nbsp;дома, вы&nbsp;экономите бесценное время, которое можете провести в&nbsp;кругу семьи и&nbsp;друзей.</p>
          </div>
        </div>
      </section>
      <footer class="page_sidebar_f">
        <a href="#" class="form_button photogallery-open" rel="lightbox-about">галерея</a>
      </footer>
    </aside>
    <!--#include virtual="/views/common/_photogallery.html" -->
  </div>
</section>