<section class="page __contacts" data-cycle-hash="contacts">
  <div class="ctn">
    <aside class="cols-6 offset-6 mod page_sidebar __content">
      <header class="page_sidebar_h">
        <h1 class="page_sidebar_h_t">Контакты</h1>
      </header>
      <section class="page_sidebar_cnt">
        <div class="scroll-pane" style="height: 329px;">
          <div class="cnt">
            <p>Москва, 5-й Донской проезд, д. 15, стр. 5, подъезд 15, 3 этаж</p>
            <p>
              <b>Телефон:</b> +7 (499) 638-38-65
              <br>
              <b>Факс:</b> +7 (499) 638-38-65
              <br>
              <b>Эл. почта:</b> <a href="mailto: alex@unen.su">alex@unen.su</a>
              <br>
              <b>Контактное лицо:</b> Алексей Савольский
              <br>
              <b>Режим работы:</b> с понедельника по пятницу с 10:00 до 19:00
            </p>
          </div>
        </div>
      </section>
    </aside>
  </div>
</section>