<section class="page __index">
  <div class="ctn">
    <div class="cols-8 mod tx __right index-content">
      <header class="page_sidebar_h">
        <h1 class="page_sidebar_h_t tt-uc">
          <span class="index-content_align" style="right: 300px;">Безкомпромисный</span>
          <br>
          <span class="index-content_align" style="right: 260px;">Уровень Качества</span>
          <br>
          <span class="index-content_align" style="right: 230px;">и сервиса</span>
        </h1>
      </header>
      <section class="page_sidebar_cnt">
        <p>
          <span class="index-content_align" style="right: 190px;">Аудиовизуальные технологии — чрезвычайно</span>
          <br>
          <span class="index-content_align" style="right: 170px;">мощный инструмент воздействия подсознание</span>
          <br>
          <span class="index-content_align" style="right: 150px;">человека. Таких технологий существует очень</span>
          <br>
          <span class="index-content_align" style="right: 130px;">много и конечно же все они не могут быть.</span>
        </p>
      </section>
      <footer class="page_sidebar_f">
        <a href="#" class="enter" style="right: 110px;">Войти на сайт</a>
      </footer>
    </div>
  </div>
</section>