<section class="page __private" data-cycle-hash="private">
  <div class="ctn">
    <aside class="cols-6 offset-6 mod page_sidebar __content">
      <header class="page_sidebar_h">
        <h1 class="page_sidebar_h_t">Жилые дома</h1>
      </header>
      <section class="page_sidebar_cnt">
        <div class="scroll-pane" style="height: 330px;">
          <div class="cnt">
            <p>От&nbsp;резиденций в&nbsp;современном европейском дизайне до&nbsp;роскошных особняков в&nbsp;классическом стиле. Компания United Engineers предлагает услуги по&nbsp;комплексному проектированию инженерных систем, обладающих исключительной надежностью, широкой функциональностью и&nbsp;исключительным дизайном.</p>
            <p>Вам нужно оборудовать домашний кинотеатр, создать элегантную систему управления светом или разработать глобальное интегрированное решение &laquo;умного дома&raquo;? United Engineers обеспечит выполнение любого проекта, начиная с&nbsp;составления концепции и&nbsp;заканчивая авторским надзором за&nbsp;работой сторонних подрядчиков.</p>
            <p>Наши специалисты имеют опыт проектирования в&nbsp;условиях как классических, так и&nbsp;современных интерьеров. Мы&nbsp;работаем индивидуально над каждым проектом и&nbsp;способны создать дизайн, идеально сочетающийся с&nbsp;архитектурой вашего дома. Мы&nbsp;можем изменить внешний вид практически любых установочных изделий, используя панели из&nbsp;металла и&nbsp;натурального дерева, совершенствуя их&nbsp;с&nbsp;помощью художественной росписи и&nbsp;тканей. Мы&nbsp;готовы обсудить любые требования и&nbsp;предложим вам наилучшее решение.</p>
            <p>Мы&nbsp;понимаем, насколько важно для вас создать особую атмосферу в&nbsp;собственном доме. Мы&nbsp;проводим все работы максимально аккуратно и&nbsp;оперативно, определяя своей главной задачей высочайшую эффективность и&nbsp;удобство управления вашим "умным домом".</p>
          </div>
        </div>
      </section>
      <footer class="page_sidebar_f">
        <a href="#" class="form_button photogallery-open" rel="lightbox-about">галерея</a>
      </footer>
    </aside>
    <!--#include virtual="/views/photogallery/_private.html" -->
  </div>
</section>