<section class="page __about" data-cycle-hash="services">
  <div class="ctn">
    <aside class="cols-6 offset-6 mod page_sidebar __content">
      <header class="page_sidebar_h">
        <h1 class="page_sidebar_h_t">Компания</h1>
      </header>
      <section class="page_sidebar_cnt">
        <nav class="links">          
          <a href="#" class="links_a" data-tab="management">Управление</a>
          <a href="#" class="links_a" data-tab="security">Безопасность</a>
          <a href="#" class="links_a" data-tab="electric">Энергоснабжение</a>
          <a href="#" class="links_a" data-tab="network">Сети и коммуникации</a>
          <a href="#" class="links_a" data-tab="lighting">Освещение</a>
          <a href="#" class="links_a" data-tab="climate">Климатические системы</a>
          <a href="#" class="links_a" data-tab="water">Водоснабжение</a>
          <a href="#" class="links_a" data-tab="transformation">Трансформация пространства</a>
          <a href="#" class="links_a" data-tab="care">Уход</a>
          <a href="#" class="links_a" data-tab="equipment">Бытовая техника</a>
          <a href="#" class="links_a" data-tab="function">Собственные функции системы</a>
        </nav>
        <div class="scroll-pane" style="height: 139px;">
          <div class="tab __services __current">
            <div class="cnt">
              <p>Комфорт жилого или офисного пространства складывается из&nbsp;множества деталей. Это эстетика, в&nbsp;частности, стилевые решения интерьера и&nbsp;ландшафтного дизайна. Это климатические требования, такие как температура, влажность, подготовка воздуха и&nbsp;воды. Это свобода коммуникаций&nbsp;&mdash; компьютерные сети, телевидение, аудио, беспроводная связь. Это безопасность&nbsp;&mdash; охранные и&nbsp;противопожарные системы, контроль доступа и&nbsp;видеонаблюдение.</p>
              <p>Современный дом буквально пронизан километрами инженерных трасс, множеством контрольных и&nbsp;управляющих устройств, десятками установочных изделий в&nbsp;каждой комнате. Уровень возможностей, как следствие, сложности техники постоянно растет, логика работы разных систем зачастую отличается принципиально. С&nbsp;увеличением технологического оснащения возлагать на&nbsp;человека базовые операции становится все более неудобно, невыгодно, а&nbsp;в&nbsp;некоторых случаях просто опасно. В&nbsp;такой ситуации единственный верный выход&nbsp;&mdash; поручить рутину электронике, оставив за&nbsp;человеком лишь право настройки и&nbsp;принятия стратегических решений.</p>
              <p>Такой подход не&nbsp;только увеличивает надежность и&nbsp;безопасность вашего дома, но&nbsp;также дарит вам бесценное время и&nbsp;освобождает голову от&nbsp;ненужных задач и&nbsp;знаний.</p>
            </div>
          </div>
          <div class="tab __management">
            <div class="cnt">
              <p>В&nbsp;современном доме обычно сочетается три типа управления: стационарные панели, пульты и&nbsp;компьютерные системы.</p>
              <p>Панели отлично подходят для управления определенными зонами или отдельным оборудованием. Среди них есть настольные, настенные, встраиваемые в&nbsp;консоли, проводные и&nbsp;беспроводные, цветные и&nbsp;черно-белые, графические и&nbsp;поддерживающие видеосигнал. Производители предлагают широкий спектр дизайнерских решений для самых изысканных интерьеров. Однако, при необходимости, мы&nbsp;можем предложить вам индивидуальный дизайн с&nbsp;применением дерева, металла, ткани и&nbsp;других материалов.</p>
              <p>Пульты дистанционного управления имеют свое преимущество&nbsp;&mdash; мобильность и&nbsp;возможность управления вне зависимости от&nbsp;местоположения внутри здания. Простейшие из&nbsp;них рассчитаны всего на&nbsp;несколько функций, универсальные позволяют запрограммировать практически любой набор команд и&nbsp;сценариев.</p>
              <p>По&nbsp;сравнению с&nbsp;панелями и&nbsp;пультами, компьютерные системы имеют расширенную функциональность и&nbsp;интерфейс, позволяющий включить, выключить или настроить элементы системы гораздо быстрее. Компьютерные системы с&nbsp;удаленным доступом позволят вам контролировать и&nbsp;управлять системами вашего дома на&nbsp;работе, в&nbsp;дороге и&nbsp;вообще из&nbsp;любой точки земного шара.</p>
            </div>
          </div>
          <div class="tab __security">
            <div class="cnt">
              <p>Безопасности много не&nbsp;бывает, и&nbsp;сегодня под этим термином понимают целый комплекс защитных мер&nbsp;&mdash; начиная с&nbsp;пожарной безопасности и&nbsp;заканчивая обнаружением сбоев оборудования.</p>
              <p>Система электрической безопасности автоматически отключит все ненужные электроприборы, обесточит открытые розетки в&nbsp;детской комнате, уберет питание с&nbsp;линии, на&nbsp;которой произошла утечка или короткое замыкание. В&nbsp;случае сбоев в&nbsp;основной питающей сети система переключится на&nbsp;резервные источники питания.</p>
              <p>Система пожарной безопасности способна обесточить зону возгорания, выключить вентиляцию и&nbsp;кондиционеры для устранения тяги, включить аварийное освещение, показать путь эвакуации и&nbsp;разблокировать замки для доступа пожарных. Первоочередная задача при любом возгорании&nbsp;&mdash; не&nbsp;допустить, чтобы огонь набрал силу. При обнаружении задымления система незамедлительно оповестит о&nbsp;точном месте опасности, что даст вам возможность для быстрого реагирования.</p>
              <p>Система контроля протечек моментально перекроет подачу воды, как только влага попадет на&nbsp;подключенные к&nbsp;ней датчики. Пусть протечка не&nbsp;представляет опасности для жизни человека, она может серьезно испортить отделку помещения и&nbsp;повредить ценные вещи.</p>
              <p>Система видеонаблюдения управляет камерами в&nbsp;помещениях и&nbsp;на&nbsp;прилегающей территории, проводя мониторинг по&nbsp;заданным сценариям, создает и&nbsp;обновляет видеоархив. Современные камеры имеют высокое разрешение и&nbsp;способны вести качественную съемку даже безлунной ночью.</p>
              <p>Система контроля доступа служит для идентификации и&nbsp;назначения прав членам вашей семьи, работникам и&nbsp;гостям. В&nbsp;этой сфере множество решений: от&nbsp;паролей, брелков и&nbsp;смарткарт до&nbsp;систем, узнающих человека по&nbsp;отпечаткам пальцев, рисунку ладони или сетчатке глаза.</p>
              <p>Система охраны обычно строится на&nbsp;основе существующих специализированных решений. Объект может быть поставлен на&nbsp;охрану полностью или частично. В&nbsp;функции системы входит проведение мониторинга, оповещение о&nbsp;незаконном проникновении, а&nbsp;также противодействие ему, в&nbsp;частности, вызов группы оперативного реагирования.</p>
              <p>Все системы безопасности интегрированы в&nbsp;единый комплекс, значит, имеют функции протоколирования и&nbsp;оповещения, и&nbsp;вы&nbsp;всегда имеете возможность принять незамедлительные меры, а&nbsp;затем провести собственное расследование случившегося инцидента.</p>
            </div>
          </div>
          <div class="tab __electric">
            <div class="cnt">
              <p>Система электроснабжения в&nbsp;современных домах&nbsp;&mdash; не&nbsp;просто два провода, тянущихся от&nbsp;ближайшего столба. Стабилизаторы, резервные источники питания и&nbsp;устройства автоматического включения резерва&nbsp;&mdash; уже не&nbsp;редкость, а&nbsp;правило. Однако проблема сбоев в&nbsp;электрической сети, зачастую, не&nbsp;является главной. На&nbsp;первый план выходит недостаточность выделенной мощности для перекрытия потребностей электрооборудования дома. Электроэнергии катастрофически не&nbsp;хватает, а&nbsp;у&nbsp;поставщика не&nbsp;всегда имеется техническая возможность для увеличения мощностей.</p>
              <p>Интегрированная система управления не&nbsp;может вырабатывать электричество, но&nbsp;отлично справляется с&nbsp;задачей мониторинга и&nbsp;оптимизации потребления, и&nbsp;ограниченной мощности становится достаточно. Система отключает ненужные электроприборы и&nbsp;освещение, обеспечивает приоритет нагрузок в&nbsp;случае дефицита энергии, отключает электропитание при аварии или опасности. Есть у&nbsp;нее и&nbsp;привычные функции, такие как переключение на&nbsp;резервное питание при сбое в&nbsp;сети.</p>
            </div>
          </div>
          <div class="tab __network">
            <div class="cnt">
              <p>Одной из&nbsp;важных функций интегрированной системы является организация управления различными линиями связи, коммуникационными и&nbsp;сигнальными потоками. Это ваше единое информационное пространство с&nbsp;удобным доступом и&nbsp;высокой скоростью передачи данных. Это все возможности локальных сетей и&nbsp;интернета, регистрация и&nbsp;маршрутизация телефонных звонков, видеосвязь, а&nbsp;также удаленный мониторинг и&nbsp;управление с&nbsp;помощью компьютера или смартфона.</p>
              <p>Использование интегрированной системы дает возможность создания &laquo;мультирумной&raquo; системы вещания аудио и&nbsp;видео. В&nbsp;любой комнате можно выбрать любой аудио- или видеоисточник, будь&nbsp;то записи на&nbsp;носителях, эфирное, спутниковое или кабельное телевидение, радиовещание, сети мультимедиа.</p>
              <p>Звук может следовать за&nbsp;вами из&nbsp;комнаты в&nbsp;комнату, а&nbsp;возможность настроить несколько планов звучания, включая телефонные вызовы, позволит не&nbsp;отвлекаться от&nbsp;отдыха или дел. Передача аудиоинформации с&nbsp;селективным выбором на&nbsp;все помещения или конкретную комнату обеспечит простую и&nbsp;быструю связь как внутри дома, так и&nbsp;на&nbsp;всей прилегающей территории. Любую зону телевизионного просмотра можно расширить до&nbsp;уровня домашнего кинотеатра.</p>
            </div>
          </div>
          <div class="tab __lighting">
            <div class="cnt">
              <p>Освещение в&nbsp;современном доме&nbsp;&mdash; сложная система, дающая вам множество полезных функций. Во-первых, это световое оформление интерьера и&nbsp;ландшафта с&nbsp;настраиваемым набором схем иллюминации. Во-вторых, широкие возможности управления с&nbsp;помощью панелей, пультов, настенных переключателей и&nbsp;диммеров. В-третьих, автоматически запрограммированное управление с&nbsp;реакцией на&nbsp;события и&nbsp;показатели датчиков, например, на&nbsp;изменение мощности сети, интенсивности естественного освещения, времени суток и&nbsp;сезона.</p>
              <p>Работу источников света можно группировать по&nbsp;собственному желанию, например, по&nbsp;помещениям, по&nbsp;функциональной направленности внутри одного помещения, строить и&nbsp;хранить в&nbsp;памяти световые сценарии: &laquo;экономичный&raquo;, &laquo;праздничный&raquo;, &laquo;я&nbsp;приехал&raquo;, &laquo;выключить все&raquo; и&nbsp;т.д. Датчики движения и&nbsp;освещенности позволяют организовать сопровождение человека светом при перемещении по&nbsp;комнатам, автоматическое включение и&nbsp;выключение фасадных и&nbsp;ландшафтных светильников, специального освещения растений в&nbsp;зимнем саду.</p>
              <p>Система освещения решает еще множество задач, начиная от&nbsp;схем плавного набора яркости ламп до&nbsp;обеспечения случайного включения света для создания иллюзии присутствия хозяев дома.</p>
            </div>
          </div>
          <div class="tab __climate">
            <div class="cnt">
              <p>Климатическая система поддерживает микроклимат в&nbsp;доме, обеспечивая индивидуальные режимы в&nbsp;зависимости от&nbsp;помещения, времени суток, дня недели, сезона, а&nbsp;также внешних условий. Для этого необходимо наладить точное взаимодействие между системами отопления, кондиционирования и&nbsp;вентиляции. Единая система позволяет не&nbsp;думать о&nbsp;существовании вентилей на&nbsp;радиаторах или регуляторов газового котла. Вы&nbsp;управляете климатом движением пальца по&nbsp;жидкокристаллической панели или нажимая кнопки на&nbsp;пульте управления.</p>
              <p>Задача системы отопления&nbsp;&mdash; поддерживать в&nbsp;доме тепло и&nbsp;комфорт, минимизируя финансовые затраты и&nbsp;технические проблемы. Если здание отапливается центральной теплосетью, разработчику необходимо решить проблемы отсутствия структурной адаптивности сети к&nbsp;интересам заказчика, недостаточной выделенной мощности и&nbsp;сезонных сбоев в&nbsp;работе. При установке индивидуального котельного оборудования решается задача оптимизации капитальных затрат и&nbsp;расходов на&nbsp;эксплуатацию.</p>
              <p>Климат в&nbsp;помещении сильно зависит от&nbsp;воздуха и&nbsp;его подготовки. Чем большее количество его параметров можно отрегулировать, чем точнее контроль над ними, тем разнообразнее и&nbsp;качественнее климат. Стоит отметить, что с&nbsp;решением таких задач климатическая система не&nbsp;всегда может справиться самостоятельно, иногда требуются дополнительные архитектурно-планировочные и&nbsp;управляющие решения. Поэтому очень важно начать планирование климата еще на&nbsp;этапе проектирования дома, чтобы иметь возможность внесения изменений в&nbsp;его конструкцию.</p>
              <p>В&nbsp;традиционном здании климатические системы способны обеспечить лишь примитивную регулировку воздухообмена и&nbsp;температуры. Интегрированная система климатического контроля управляет всеми физико-химическими свойствами воздуха: скоростью перемещения и&nbsp;кратностью обмена, температурой, влажностью, чистотой, составом, звуковым наполнением и&nbsp;ресурсосберегающими технологиями.</p>
              <p>Точная настройка с&nbsp;множеством параметров достигается с&nbsp;помощью грамотной организации взаимодействия устройств в&nbsp;каждой системе, систем между собой и&nbsp;с&nbsp;другими системами&nbsp;и, самое главное, за&nbsp;счет создания удобного интерфейса.</p>
            </div>
          </div>
          <div class="tab __water">
            <div class="cnt">
              <p>Водоснабжение&nbsp;&mdash; это не&nbsp;только наличие холодной и&nbsp;горячей воды в&nbsp;кранах. Автоматизированная интегрированная система значительно расширяет эти функции, обеспечивая своевременное включение и&nbsp;выключение скважинных насосов, наполнение бассейна или ванны водой нужной температуры, полив растений в&nbsp;зимнем саду, газонов перед домом, запуск и&nbsp;долив фонтанов. Все это и&nbsp;многое другое выполняется автоматически или по&nbsp;желанию владельца.</p>
              <p>В&nbsp;систему интегрируется множество &laquo;невидимых&raquo; функций, в&nbsp;частности, взаимодействие со&nbsp;смежными системами и&nbsp;комплексом управления и&nbsp;аварийного оповещения. Напоминание о&nbsp;необходимости замены водяных фильтров, сообщения о&nbsp;неисправностях с&nbsp;блокировкой подачи воды в&nbsp;случае протечки или превышения давления избавит вас от&nbsp;более серьезных неприятностей.</p>
            </div>
          </div>
          <div class="tab __transformation">
            <div class="cnt">
              <p>Под термином &laquo;трансформация пространства&raquo; понимается способность дома объединять и&nbsp;разделять помещения и&nbsp;зоны, а&nbsp;также маскировать различное оборудование и&nbsp;предметы интерьера. К&nbsp;этому относится управление разного рода раздвижными дверями, воротами, перегородками, карнизами штор, жалюзи, выдвигающимися из&nbsp;ниш потолка или стен экранами, проекторами, тумбами аудио-, видеосистем и&nbsp;т.д.</p>
            </div>
          </div>
          <div class="tab __care">
            <div class="cnt">
              <p>Комнатные растения и&nbsp;домашние животные иногда требуют нашего внимания больше, чем мы&nbsp;можем себе позволить. Сложность и&nbsp;объем таких работ растет пропорционально увеличению площади дома. При этом с&nbsp;рутинными операциями по&nbsp;уходу, такие как полив растений, включение освещения в&nbsp;зимнее время, пополнение автоматических поилок и&nbsp;кормушек для четвероногих и&nbsp;пернатых отлично справляется система интегрированного управления, освобождая вам массу свободного времени.</p>
              <p>Система может обеспечить уход не&nbsp;только за&nbsp;растениями и&nbsp;животными, но&nbsp;и&nbsp;за&nbsp;больным или пожилым человеком, отслеживая его температуру, пульс, артериальное давление и&nbsp;ритм дыхания, напоминая о&nbsp;приеме лекарств, информируя об&nbsp;опасных ситуациях членов семьи или скорую помощь.</p>
            </div>
          </div>
          <div class="tab __equipment">
            <div class="cnt">
              <p>По&nbsp;традиции, управление бытовой техникой находится на&nbsp;встроенных в&nbsp;них панелях. Однако современная умная техника может быть интегрирована в&nbsp;общую систему управления, существенно расширяющую ее&nbsp;функциональность. Стиральные и&nbsp;посудомоечные машины, кофеварки и&nbsp;печи СВЧ, сауны, нагреватели кровли и&nbsp;многие другие бытовые устройства. Всем этим вы&nbsp;можете управлять дистанционно, задавая программы работы, включая и&nbsp;выключая в&nbsp;зависимости от&nbsp;внешних факторов, обстоятельств и&nbsp;персональных желаний.</p>
            </div>
          </div>
          <div class="tab __function">
            <div class="cnt">
              <p>К&nbsp;важнейшим внутренним функциям системы относятся обеспечение бесперебойной, надежной и&nbsp;безопасной эксплуатации, а&nbsp;также ресурсосбережение.</p>
              <p>Высокий уровень безопасности эксплуатации системы достигается за&nbsp;счет качественного проектирования, использования при установке защищенных кабельных сетей, шифрации программ центрального контроллера, разграничения доступа к&nbsp;средствам программирования и&nbsp;эксплуатации системы.</p>
              <p>Ресурсосбережение как объединяющая и&nbsp;оптимизирующая работу других подсистем функция считается одной из&nbsp;важнейших при проектировании и&nbsp;эксплуатации интегрированных систем управления. Система отслеживает расход по&nbsp;всем источникам ресурсов (электроэнергия, топливо, газ, вода, воздух), что позволяет существенно уменьшить финансовые затраты, обеспечивая при этом высочайший уровень комфорта.</p>
            </div>
          </div>
        </div>
      </section>
      <footer class="page_sidebar_f">
        <a href="#" class="form_button photogallery-open" rel="lightbox-about">галерея</a>
      </footer>
    </aside>
    <!--#include virtual="/views/common/_photogallery.html" -->    
  </div>
</section>