<section class="page __yacht" data-cycle-hash="yacht">
  <div class="ctn">
    <aside class="cols-6 offset-6 mod page_sidebar __content">
      <header class="page_sidebar_h">
        <h1 class="page_sidebar_h_t">Яхты</h1>
      </header>
      <section class="page_sidebar_cnt">
        <div class="scroll-pane" style="height: 329px;">
          <div class="cnt">
            <p>Если вам требуется оборудовать яхту по&nbsp;самым высоким мировым стандартам, обращайтесь в&nbsp;United Engineers. Команда наших дизайнеров, инженеров и&nbsp;программистов способна осуществить весь комплекс работ, начиная с&nbsp;разработки концепции и&nbsp;заканчивая эксплутационным обслуживанием.</p>
            <p>Технологии управления &laquo;в&nbsp;одно касание&raquo; и&nbsp;умные мобильные приложения позволяют создать инженерную систему, объединяющую в&nbsp;себе простоту использования и&nbsp;роскошный дизайн. Получайте все, что вам нужно, простым нажатием кнопки.</p>
            <p>Мы&nbsp;предлагаем вам широкий набор установочных изделий и&nbsp;множество способов совершенствования их&nbsp;дизайна. Система управления обеспечит не&nbsp;только потрясающую функциональность, но&nbsp;и&nbsp;полное соответствие концепции интерьера вашей яхты. Мы&nbsp;можем изменить внешний вид практически любого видимого компонента системы, используя панели из&nbsp;металла и&nbsp;натурального дерева, совершенствуя их&nbsp;с&nbsp;помощью художественной росписи и&nbsp;тканей. Мы&nbsp;готовы обсудить любые требования и&nbsp;предложим вам наилучшее решение.</p>
            <p>Принимая работу, вы&nbsp;получите профессионально смонтированные видеоуроки, детально демонстрирующие функции всех компонентов системы. Этот диск поможет вам открыть все возможности системы, а&nbsp;также рассказать о&nbsp;них вашим гостям или арендаторам, если вы&nbsp;планируете сдавать яхту на&nbsp;коммерческой основе. Если вы&nbsp;хотите подчеркнуть свой статус, мы&nbsp;можем привлечь к&nbsp;съемкам в&nbsp;роликах известных актеров или звезд шоу-бизнеса.</p>
            <p>При разработке системы управления мы&nbsp;не&nbsp;забываем об&nbsp;удобстве работы экипажа яхты, предоставляя им&nbsp;удобные механизмы для настройки и&nbsp;выявления неисправностей. Мы&nbsp;всегда включаем в&nbsp;состав стандартного пакета услуг установку модуля дистанционного обслуживания, позволяющего вам запрашивать и&nbsp;получать оперативную поддержку, где&nbsp;бы вы&nbsp;ни&nbsp;находились.</p>
            <p>Если вы&nbsp;приобрели яхту для себя или собираетесь сдавать ее&nbsp;в&nbsp;аренду, если вы&nbsp;заказали строительство новой яхты или переоборудуете старую&nbsp;&mdash; мы&nbsp;найдем для вас оптимальное решение.</p>
          </div>
        </div>
      </section>
      <footer class="page_sidebar_f">
        <a href="#" class="form_button photogallery-open" rel="lightbox-about">галерея</a>
      </footer>
    </aside>
    <!--#include virtual="/views/common/_photogallery.html" -->   
  </div>
</section>